setuptools
Cython
netifaces
numpy==1.19.4
pandas
scipy
statsmodels
scikit-learn>=0.20.0
imblearn
ConfigSpace
pynisher
hpbandster
fasteners
torch
torchvision
tensorboard_logger
openml
lightgbm
catboost
